dist: trusty
language: node_js
node_js:
    - '11'
branches:
    only:
        - master
addons:
    sonarcloud:
        organization: 'flowscripter'
        token:
            secure: $SONAR_TOKEN
notifications:
    slack: hootworks:$SLACK_TOKEN
jobs:
    include:
        - script: ./node_modules/.bin/jest
        - script: ./node_modules/.bin/jest --coverage && ./node_modules/.bin/eslint -f json -o reports/eslint.json . && sonar-scanner
